* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  color: #1D1D1B;
}
@font-face {
  font-family: Magnetlight;
  src: url(/MagnetTrial-ExtraLight-BF65f3b2c458ace.otf);
}

main{
  width: 100%;
  position: relative;
  overflow: hidden;
}
nav{
  height: 10vh;
  width: 100%;
  display: flex;
  padding: 0px 100px;
  justify-content: space-evenly;
  position: fixed;
  border-bottom: 0.3px solid #6c6c64;
  z-index: 10;
}
nav:hover{
  background-color: rgb(251, 248, 248);
}
.logo{
  display: flex;
  align-items: center;
}
.nav-links{
  display: flex;
  align-items: center;
  gap: 30px;

}
.nav-links p{
  font-family: magnetlight;
  font-size: 14px;
  font-weight: 800;
  color: black;
}
.icons{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
  height: 100%;
  width: 30%;


}
.credit-container{
  display: flex;
  gap: 5px;
  font-family: magnetlight;
  font-size: 12px;
}
.cartsvg,.profilesvg{
  border: 1px solid #1D1D1B;
  border-radius: 2px;
  padding: 2px;
}
.svg-icons{
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero{
  height: 100vh;
  width: 100%;
  background-color: #6c6c64;
  position: relative;


}
.hero img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 0;
  padding: 0px 170px;
  padding-top: 100px;
  padding-bottom: 40px;
}
.overlay h1{
  font-size: 60px;
  font-family: magnetlight;
  width: 55%;
  position: absolute;
  margin-top: 45px;
}
.card-container{
  display: flex;
  gap: 20px;
  margin-top: 300px;
}
.card {
  height: 280px;
  width: 280px;
  background-color: rgba(255, 255, 255, 0.42);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  transition: all ease 0.1s;
  position: relative;
}
.text-container p{
  font-size: 26px;
  font-family: magnetlight;
  font-weight: 600;
  transition: all ease 0.3s;
}

.card:hover{
  background-color: #c2c0b5;
}
.text-container{
  height: 4vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card:hover .text-container p{
  margin-top: -20%;
}
.para-container{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
  top: 10%;


}
.para-text-container{
  gap: 20px;
   
  font-size: 15px;
  position: relative;
  height: 2vh;
  width: 100%;
  overflow: hidden;
}
.para-text-container p{
  font-family: magnetlight;
  font-size: 12px;
  position: absolute;
  left: 10px;
  bottom: -100%;
  transition: all ease 0.5s;
}

.card:hover .para-text-container p{
  bottom: 0;
}



.cardfooter{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    font-family: magnetlight;

    opacity: 0;                   
    transform: translateY(10px);   
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.footerline {
    height: 1px;
    width: 0%;
    background-color: #403F3D;
    transition: width 0.4s ease;
    margin-bottom: 15px;
}
.card:hover .footerline {
    width: 100%;
}


.footerlink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #403F3D;
}


.footerlink .arrow{
    font-size: 16px;
    transition: transform 0.3s ease;
}


.card:hover .cardfooter{
    opacity: 1;
    
}


.main2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DFDAC6;

     background-image: url("https://yucca.co.za/wp-content/uploads/2025/05/1c9fd89a470793175cfc7f14a7a6e6dc.webp");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 600px; 
}

.marqueediv{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marqtracktop{
    display: flex;
    gap: 40px;
    width: max-content;
    animation: marqueeTop 25s linear infinite;
}

.marq-text{
    flex-shrink: 0;
}

.marq-text h1{
    font-family: Magnetlight;
    font-size: 30px;
    white-space: nowrap;
}

@keyframes marqueeTop{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.marqueediv1{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marqtrackbottom{
    display: flex;
    gap: 40px;
    width: max-content;
    animation: marqueeBottom 25s linear infinite;
}

.marq-text1{
    flex-shrink: 0;
}

.marq-text1 h1{
    font-family: Magnetlight;
    font-size: 30px;
    white-space: nowrap;
}

@keyframes marqueeBottom{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}
.cardcont{
  height: 100vh;
  width: 100%;
  position: relative;
  background-color:#DFDAC6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card{
  height: 250px;
  width: 250px;
  background: rgb(243, 235, 235);
  z-index: 2;
  margin-top: 10%;
}
.card p{
  font-size: larger;
}

.cardcont img{
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: ease-in 0.5s;
}
.card1:hover{
  height: 350px;
  width: 350px;
  transition: ease;
}

.card1:hover ~ .img1{
  opacity: 1;
}

.card2:hover{
  height: 350px;
  width: 350px;
}

.card2:hover ~ .img2{
  opacity: 1;
}

.card3:hover{
  height: 350px;
  width: 350px;
}

.card3:hover ~ .img3{
  opacity: 1;
} 